#Dashboard-container{
   
   
    width: 100%;
}


#User-title{
    margin-top: 20px;
    margin-bottom: 100px;
}

#User-title h1{
    
    text-align: center;
}

#btn-desc{
    text-align: center;
    margin: 50px 0;
    
    
}

#btn-desc p{
    font-size: 22px;
}

#User-text-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#User-text-container textarea{
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}

#User-btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   

    margin: 80px 0;
    margin-left: 30px;

    
}

#Blog-btn{
    float: right;
}


button{
    padding: 20px;
    margin: 20px 40px;

    background: #2f2f2f;
    color: #fff;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

button.active{
    background: #fff;
    color: #2f2f2f;
}


@media(max-width: 1500px){

    #User-title{
        margin-top: 20px;
        margin-bottom: 70px;
    }
    


    #User-btn-container{
        
       
    
        margin: 50px 0;
        margin-left: 30px;
    
        
    }
}


@media(max-width:1325px){
    button{
        font-size: 12px;
        padding: 18px;
    }

    #User-btn-container{
        margin-left: 0px;
    }
}