#header-container{
    padding: 50px 150px;
}

#header-container p{
    line-height: 45px;
    text-indent: 50px;
    font-size: 20px;
    color: rgb(92, 92, 92);
}


@media(min-width: 2750px) and (max-width: 3000px){
    #header-container{
        padding: 50px 400px;
    }


    #header-container p{
        line-height: 55px;
        
        font-size: 25px;
        
    }
}





@media(min-width: 2000px) and (max-width: 2750px){
    #header-container{
        padding: 50px 300px;
    }


    #header-container p{
        line-height: 55px;
        
        font-size: 23px;
        
    }
}



@media(min-width: 1750px) and (max-width: 2000px){
    #header-container{
        padding: 50px 280px;
    }


    #header-container p{
        line-height: 50px;
        
        font-size: 22px;
        
    }
}



@media(min-width: 1500px) and (max-width: 1750px){
    #header-container{
        padding: 50px 250px;
    }


    #header-container p{
        line-height: 50px;
        
        font-size: 21px;
        
    }
}



@media(max-width: 1200px){

    #header-container{
        padding: 50px 170px;
    }


    #header-container p{
        font-size: 16px;
        line-height: 40px;
    }
}



@media(max-width: 1000px){

    #header-container{
        padding: 50px 120px;
    }


    #header-container p{
        font-size: 14px;
        line-height: 35px;
    }
}



@media(max-width: 850px){

    #header-container{
        padding: 50px 90px;
    }


    #header-container p{
        font-size: 12px;
        line-height: 30px;
    }
}


@media(max-width: 700px){

    #header-container{
        padding: 50px 70px;
    }


    #header-container p{
        font-size: 11px;
        line-height: 30px;
    }
}



@media(max-width: 620px){

    #header-container{
        padding: 50px 50px;
    }


    #header-container p{
        font-size: 9px;
        line-height: 25px;
    }
}



@media(max-width: 500px){

    #header-container{
        padding: 50px 40px;
    }


    #header-container p{
        font-size: 8px;
        line-height: 20px;
    }
}