#banner-container{
    margin: 0;
    padding: 170px 70px;
    padding-bottom: 40px;

   
    
    
    
    
}

#banner-container img{
    
    width: 100%;
    height: 750px;
    border-radius: 15px;
    

}




@media(max-width: 3000px) and (min-width: 1900px){
    #banner-container{
        padding: 170px 150px;
        padding-bottom: 40px;
    }


    #banner-container img{
    
       height: 950px;
    
    }
}


@media(max-width: 1900px) and (min-width: 1600px){
    #banner-container{
        padding: 170px 150px;
        padding-bottom: 40px;
    }


    #banner-container img{
    
       height: 850px;
    
    }
}


@media(max-width: 1200px){
    #banner-container img{
    
        height: 650px;
     
     }
}


@media(max-width: 1000px){
    #banner-container img{
    
        height: 550px;
     
     }
}

@media(max-width: 850px){
    #banner-container img{
    
        height: 450px;
     
     }
}

@media(max-width: 700px){
    #banner-container img{
    
        height: 350px;
     
     }
}



@media(max-width: 550px){
    #banner-container img{
    
        height: 300px;
     
     }
}





/* Iphone 5SE */
/* Portrait */
@media only screen
and (min-width: 320px) 
and (max-width: 568px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 


    #banner-container{
        margin: 0;
        padding: 170px 20px;
        padding-bottom: 0px;
    
       
        
        
        
        
    }


    #banner-container img{
    
        height: 200px;
     
     }
}




/* Iphone 5SE */
/* Landscape */
@media only screen
and (min-width: 320px) 
and (max-width: 568px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 


    #banner-container{
        margin: 0;
        padding: 170px 40px;
        padding-bottom: 0px;
    
       
        
        
        
        
    }


    #banner-container img{
    
        height: 300px;
     
     }
}




/* Iphone 6/7/8 */
/* Portrait */
@media only screen
and (min-width: 375px) 
and (max-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 


    #banner-container{
        margin: 0;
        padding: 170px 20px;
        padding-bottom: 0px;
    
       
        
        
        
        
    }


    #banner-container img{
    
        height: 250px;
     
     }
}


/* Iphone X */
/* Portrait */
@media only screen
and (min-width: 375px) 
and (max-width: 812px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 


    #banner-container{
        margin: 0;
        padding: 170px 30px;
        padding-bottom: 0px;
    
       
        
        
        
        
    }


    #banner-container img{
    
        height: 250px;
     
     }
}



/* Iphone X */
/* Landscape */
@media only screen
and (min-width: 375px) 
and (max-width: 812px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 


    #banner-container{
        margin: 0;
        padding: 170px 60px;
        padding-bottom: 0px;
    
       
        
        
        
        
    }


    #banner-container img{
    
        height: 350px;
     
     }
}





/* Iphone 6/7/8 plus */
/* Landscape */
@media only screen
and (min-width: 414px) 
and (max-width: 736px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 


    #banner-container{
        margin: 0;
        padding: 170px 40px;
        padding-bottom: 0px;
    
       
        
        
        
        
    }


    #banner-container img{
    
        height: 350px;
     
     }
}










/* Ipad */
/* Portrait */
@media only screen
and (min-width: 768px) 
and (max-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 


    #banner-container{
        margin: 0;
        padding: 170px 50px;
        padding-bottom: 0px;
    
       
        
        
        
        
    }


    #banner-container img{
    
        height: 400px;
     
     }
}




/* Ipad */
/* Landscape */
@media only screen
and (min-width: 768px) 
and (max-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 


    #banner-container{
        margin: 0;
        padding: 170px 60px;
        padding-bottom: 0px;
    
       
        
        
        
        
    }


    #banner-container img{
    
        height: 500px;
     
     }
}




/* Ipad pro*/
/* Portrait */
@media only screen
and (min-width: 1024px) 
and (max-width: 1366px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 


    #banner-container{
        margin: 0;
        padding: 170px 70px;
        padding-bottom: 0px;
    
       
        
        
        
        
    }


    #banner-container img{
    
        height: 550px;
     
     }
}




/* Ipad pro*/
/* Landscape */
@media only screen
and (min-width: 1024px) 
and (max-width: 1366px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 


    #banner-container{
        margin: 0;
        padding: 170px 80px;
        padding-bottom: 0px;
    
       
        
        
        
        
    }


    #banner-container img{
    
        height: 700px;
     
     }
}




/* Ipad */
/* Landscape */
@media only screen
and (min-width: 360px) 
and (max-width: 640px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 


    #banner-container{
        margin: 0;
        padding: 170px 40px;
        padding-bottom: 0px;
    
       
        
        
        
        
    }


    #banner-container img{
    
        height: 250px;
     
     }
}